<div class="drawer">
  <input id="<%= id %>" type="checkbox" class="drawer-toggle" data-drawer-target="toggle">
  <div class="drawer-side">
    <label for="<%= id %>" aria-label="<%= close_aria_label %>" class="drawer-overlay"></label>
    <div class="<%= side_panel_class %>">
      <%= content %>
    </div>
  </div>
</div>
