<header class="bg-base-100 lg:bg-base-100/90 border-base-300 sticky top-0 z-10 border-b data-[at-top=true]:border-transparent lg:backdrop-blur-sm"
  data-controller="scroll-spy">
  <div class="container mx-auto px-4" data-controller="drawer">
    <nav class="flex items-center justify-between py-2">
      <div class="flex items-center gap-2">
        <label
          for="<%= drawer_id %>"
          id="<%= drawer_id %>-trigger"
          aria-label="<%= open_drawer_aria_label %>"
          aria-expanded="false"
          data-drawer-target="trigger"
          class="btn btn-square btn-ghost btn-sm lg:hidden">
          <%= helpers.heroicon "bars-3" %>
        </label>
        <%= brand_link %>
      </div>
      <div class="max-lg:hidden">
        <%= render UI::NavListComponent.new(items: nav_items, orientation: :horizontal) %>
      </div>
      <div class="space-x-2">
        <% ctas.each do |cta| %>
          <%= link_to cta[:label], cta[:href], class: cta[:css_class] %>
        <% end %>
      </div>
    </nav>
    <%= render UI::DrawerComponent.new(
      id: drawer_id,
      close_aria_label: close_drawer_aria_label
    ) do %>
      <%= brand_link %>
      <%= render UI::NavListComponent.new(items: mobile_nav_items, orientation: :vertical) %>
    <% end %>
  </div>
</header>
